@charset "utf-8";

$color-text:#A6ADB4;
$color-heading:#202124;
$color-gray:#F6F8F9;
$color-accent:#FA6980;
$color-white:#ffffff;

@mixin inner($w:800px){
    max-width: $w;
    width:90%;
    margin:0 auto;
}

@mixin flex($s:space-between,$a:center){
    display:flex;
    flex-wrap:wrap;
    justify-content: $s;
    align-items:$a;
}

@mixin title{
    margin-bottom:10px;
    font-size:18px;
    font-weight:bold;
    line-height:(30/18);
}

body{
    font-size:14px;
    font-family:'helvetica Neve' Helvetica, Arial,sans-serif;
    line-height:(24/14);
}

img{
    max-width: 100%;
    height:auto;
    vertical-align:bottom;
}

li{
    list-style: none;
}

/* card */

.card{
    margin-bottom: 60px;
    background-color: $color-white;
    width:47.5%;
    &__body{
        padding:27px 35px 35px;
    }
    &__title{
        @include title;
    }
    &__text{
        margin-bottom: 30px;
        color:$color-text;
    }
}

/* btn */

.btn{
    padding: 12px 43px;
    color:$color-white;
    background-color: $color-accent;
    font-weight:bold;
    text-decoration: none;
    text-align:right;
}

/*block--------------------*/

/*header--------------------*/

/*main--------------------*/

/*news--------------------*/

.news{
    padding-bottom: 60px;
    &__list{
        @include flex();
    }
}

.title-main{
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #EBEDED;
    color:$color-heading;
    font-size: 24px;
    font-weight: bold;
}

.trending{
    background-color: $color-gray;

    &__list{
        @include flex();
    }

    &__inner{
        @include inner();
    }
}
